/*Componentes e resets*/
@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-VariableFont_wght.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
}

a{
    text-decoration: none;
}
/*Fim reset*/

/*Cabeçalho*/
header{
    background: linear-gradient(30deg,rgba(0,0,0,1), rgba(0,0,0,0.6), rgba(0,0,0,1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

#logo{
    width: 80px;
}

nav{
    order: 3;
}

#button-nav{
    border: none;
    background: none;
}

#button-img{
    position: relative;
    width: 30px;
}

.active{
    background: linear-gradient(170deg,rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,1));
}

.active-link, .active-link:visited{
    color: white !important;
}

ul{
    background-color: orange;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 71px;
    right:0;
    list-style: none;
    width: 190px;
    z-index: 10000;
    opacity: 0;
    animation-name: nav-animation;
    animation-play-state: paused;
    animation-duration: 1s;
    animation-delay: 400ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes nav-animation {
    from{
        right:-140px;
    }
    to{
        opacity: 1;
        right: 0;
    }
}

li{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;
    padding: 10px 0;
    transition-property: padding;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
    animation-name: list-nav;
    animation-duration: 2.2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes list-nav {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#nav-bar a,#nav-bar a:visited{
    color: black;
    font-weight: 600;
    padding: 5px 0;
    padding-left: 6px;
}

#search{
    width: 60%;
    max-width: 700px;
}

#search-produtos{
    background-color: rgba(255,255,255,0.1);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding: 10px;
}

#search-produtos::placeholder{
    color: rgba(255,255,255,1);
}

#search-produtos:focus{
    outline: none;
}
/*Fim cabeçalho*/

/*Main*/
#img-banner img{
    width: 100%;
}

#produtos-main{
    position: relative;
    display: flex;
}

#destaques{
    display: flex;
    flex-direction: column;
}

#principal{
    display: flex;
    flex-direction: column;
}

#principal article> img{
    width: 100%;
}

#principal article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#principal article> h3{
    background: linear-gradient(rgba(255,165,0,1), rgba(255,165,0,0.8), rgba(255,165,0,0.6), rgba(255,165,0,0.4));
    border-radius: 10px;
    padding: 5px 10px;
}

.group-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-produtos article{
    width: 100%;
}

.group-produtos article img{

}

.desc-produto{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.valor{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}